* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #a67c4d;
    --secondary-color: #4b3d2d;
}

body {
    background-color: var(--secondary-color);
}

html {
    font-size: 75.5%;
}

.background {
    background-color: #d9cba0;
}

.header {
    width: 100%;
    height: 50%;
    color: var(--primary-color);
    box-shadow: 0 5px 10px var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imageurl);
    clip-path: circle(60% at left 300px);
    z-index: -1;
}

.row1 h1 {
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
}

/* .row2 {
    position: absolute;
    top: 10px;
    right: 150px;
    text-align: center;
} */

/* .row2 h2 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
} */

/*.row2 img {
    margin-top: 30px;
    width: 250px;
} */

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 1; 
    margin-bottom: 10px;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 1; 
    margin-bottom: 10px;
}

.search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}

.search button {
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}

.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1; /* Ensure books are behind the search bar */
}

.card {
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px #e3d4b9;
    transition: .5s;
    text-align: center;
    position: relative;
}

 .card:hover {
    transform: scale(0.9);
    background-color: #e3d4b9;
} 

.card img {
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}

.card .bottom {
    display: flex;
    flex-direction: column;
}

.card .bottom .title {
    font-size: 14px;
    margin-bottom: 50px;
}

.card .bottom .amount {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

.overlay-inner {
    background: white;
    width: 700px;
    max-width: 90%; /* Make modal responsive */
    height: 550px;
    max-height: 80vh; /* Limit height to 80% of viewport height */
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto; /* Allow scrolling if content is too long */
    font-size: 1.3rem;
}

.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
}

.overlay-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h3 {
    margin-top: 10px;
    color: green;
}

.overlay-inner .inner-box h4 {
    color: blue;
}

.overlay-inner .inner-box button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #ec8f00;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.overlay-inner .description {
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}

.show-more-btn {
    background-color: #810000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.show-more-btn:hover {
    background-color: #420e07;
}
